<footer class="site-footer">

  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col" style="float: left;">
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=hiattzhaoblog', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input type="text" style="width:140px" name="email" placeholder="Enter your email"/><input type="hidden" value="hiattzhaoblog" name="uri"/> <input type="submit" value="Subscribe to my blog" /></form>
      </div> 

      <div class="footer-col" style="float: right;">
        Copyright &copy; <script type = "text/javascript">
          var dt = new Date();
          document.write(dt.getFullYear()); 
       </script> Hiatt Zhao
      </div>
    </div>

  </div>

</footer>
